:root {
  --dark-color: #0C132E;
  --highlight-color: #F3BC33;
  --white-color: #FFF;
  --header-height: 5em;
  --section-height: calc(100vh - var(--header-height));
}

html {
  background: -moz-linear-gradient(43deg, rgba(1,5,50,1) 0%, rgba(14,23,65,1) 100%);
  background: -webkit-linear-gradient(43deg, rgba(1,5,50,1) 0%, rgba(14,23,65,1) 100%);
  background: linear-gradient(43deg, rgba(1,5,50,1) 0%, rgba(14,23,65,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010532",endColorstr="#0e1741",GradientType=1);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html ::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
