@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color: #0C132E;
  --highlight-color: #F3BC33;
  --white-color: #FFF;
  --header-height: 4.5em;
  --section-height: calc(100vh - var(--header-height));
}

html {
  background: var(--dark-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html ::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
